==
<table class="table table-stripped">
<thead class="thead-inverse">
<tr>
<td>&nbsp;</td>
<th id="hc1t02" class="align-right">Groupe de base 2175 </th><th id="hc2t02" class="align-right">Ensemble des professions</th>
</tr>
</thead>
<tbody>
<tr>
<th id="hs02t02" class="align-left table-info" colspan="3">Emploi selon le sexe </th>
</tr>
<tr>
<td id="hl01t02" class="align-left" headers="hs02t02">Hommes</td>
<td class="align-right" headers="hc1t02 hs02t02 hl01t02">69,7&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs02t02 hl01t02">51,9&nbsp;%</td>
</tr>
<tr>
<td id="hl02t02" class="align-left" headers="hs02t02">Femmes</td>
<td class="align-right" headers="hc1t02 hs02t02 hl02t02">30,3&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs02t02 hl02t02">48,1&nbsp;%</td>
</tr>
</tbody>
<tbody>
<tr>
<th id="hs03t02" class="align-left table-info" colspan="3">Emploi selon le groupe d'âge </th>
</tr>
<tr>
<td id="hl03t02" class="align-left" headers="hs03t02">15 - 24 ans</td>
<td class="align-right" headers="hc1t02 hs03t02 hl03t02">12,6&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs03t02 hl03t02">13,3&nbsp;%</td>
</tr>
<tr>
<td id="hl04t02" class="align-left" headers="hs03t02">25 - 44 ans</td>
<td class="align-right" headers="hc1t02 hs03t02 hl04t02">70,7&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs03t02 hl04t02">42,7&nbsp;%</td>
</tr>
<tr>
<td id="hl05t02" class="align-left" headers="hs03t02">45 - 64 ans</td>
<td class="align-right" headers="hc1t02 hs03t02 hl05t02">16,3&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs03t02 hl05t02">41,1&nbsp;%</td>
</tr>
<tr>
<td id="hl06t02" class="align-left" headers="hs03t02">65 ans et plus</td>
<td class="align-right" headers="hc1t02 hs03t02 hl06t02">0,5&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs03t02 hl06t02">2,8&nbsp;%</td>
</tr>
</tbody>
<tbody>
<tr>
<th id="hs04t02" class="align-left table-info" colspan="3">Emploi selon le statut </th>
</tr>
<tr>
<td id="hl07t02" class="align-left" headers="hs04t02">Plein temps</td>
<td class="align-right" headers="hc1t02 hs04t02 hl07t02">85,8&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs04t02 hl07t02">81,2&nbsp;%</td>
</tr>
<tr>
<td id="hl08t02" class="align-left" headers="hs04t02">Temps partiel</td>
<td class="align-right" headers="hc1t02 hs04t02 hl08t02">14,2&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs04t02 hl08t02">18,8&nbsp;%</td>
</tr>
</tbody>
<tbody>
<tr>
<th id="hs05t02" class="align-left table-info" colspan="3">Emploi selon le revenu annuel </th>
</tr>
<tr>
<td id="hl09t02" class="align-left" headers="hs05t02">À temps plein et à l'année</td>
<td class="align-right" headers="hc1t02 hs05t02 hl09t02">59,0&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs05t02 hl09t02">54,8&nbsp;%</td>
</tr>
<tr>
<td id="hl10t02" class="align-left" headers="hs05t02">Revenu annuel moyen</td>
<td class="align-right" headers="hc1t02 hs05t02 hl10t02">49&nbsp;700&nbsp;$</td>
<td class="align-right" headers="hc2t02 hs05t02 hl10t02">50&nbsp;300&nbsp;$</td>
</tr>
<tr>
<td id="hl11t02" class="align-left" headers="hs05t02">0&nbsp;$ à 19&nbsp;999&nbsp;$</td>
<td class="align-right" headers="hc1t02 hs05t02 hl11t02">15,8&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs05t02 hl11t02">13,3&nbsp;%</td>
</tr>
<tr>
<td id="hl12t02" class="align-left" headers="hs05t02">20&nbsp;000&nbsp;$ à 49&nbsp;999&nbsp;$</td>
<td class="align-right" headers="hc1t02 hs05t02 hl12t02">45,0&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs05t02 hl12t02">48,0&nbsp;%</td>
</tr>
<tr>
<td id="hl13t02" class="align-left" headers="hs05t02">50&nbsp;000&nbsp;$ et plus</td>
<td class="align-right" headers="hc1t02 hs05t02 hl13t02">39,3&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs05t02 hl13t02">38,8&nbsp;%</td>
</tr>
</tbody>
<tbody>
<tr>
<th id="hs06t02" class="align-left table-info" colspan="3">Emploi selon le plus haut niveau de scolarité atteint </th>
</tr>
<tr>
<td id="hl14t02" class="align-left" headers="hs06t02">Moins d'un <abbr>DES</abbr></td>
<td class="align-right" headers="hc1t02 hs06t02 hl14t02">1,0&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs06t02 hl14t02">12,1&nbsp;%</td>
</tr>
<tr>
<td id="hl15t02" class="align-left" headers="hs06t02">Diplôme d'études secondaires (<abbr>DES</abbr>)</td>
<td class="align-right" headers="hc1t02 hs06t02 hl15t02">12,7&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs06t02 hl15t02">20,3&nbsp;%</td>
</tr>
<tr>
<td id="hl16t02" class="align-left" headers="hs06t02">Diplôme postsecondaire non universitaire</td>
<td class="align-right" headers="hc1t02 hs06t02 hl16t02">42,4&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs06t02 hl16t02">44,2&nbsp;%</td>
</tr>
<tr>
<td id="hl17t02" class="align-left" headers="hs06t02">Baccalauréat et plus</td>
<td class="align-right" headers="hc1t02 hs06t02 hl17t02">43,9&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs06t02 hl17t02">23,4&nbsp;%</td>
</tr>
</tbody>
<tbody>
<tr>
<th id="hs08t02" class="align-left table-info" colspan="3">Autres répartitions d'emploi </th>
</tr>
<tr>
<td id="hl34t02" class="align-left" headers="hs08t02">Travail autonome</td>
<td class="align-right" headers="hc1t02 hs08t02 hl34t02">27,8&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs08t02 hl34t02">10,7&nbsp;%</td>
</tr>
<tr>
<td id="hl35t02" class="align-left" headers="hs08t02">Immigration</td>
<td class="align-right" headers="hc1t02 hs08t02 hl35t02">23,2&nbsp;%</td>
<td class="align-right" headers="hc2t02 hs08t02 hl35t02">13,7&nbsp;%</td>
</tr>
</tbody>
</table>

<i>Source : <a href="http://www.servicecanada.gc.ca/fra/qc/emploi_avenir/statistiques/2175.shtml#stats">Service Canada</a></i>